<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Db-shop</title>
    <script th:src="@{js/vue.js}" type="application/javascript"></script>
    <script src="https://code.hcharts.cn/plugins/zh_cn.js" type="application/javascript"></script>
    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" th:href="@{/element/theme/index.css}"/>-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <!--    <script th:src="@{/element/index.js}" type="application/javascript"></script>-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script th:src="@{js/axios.js}"></script>

</head>
<body>
<div id="app" style="width: 80%;margin-left: 200px;height: 100%;">
    <div>
        <!--抬头布局-->
        <div>
            <!--左表-->
            <el-form :inline="true" :model="leftDbForm" class="demo-form-inline">
                <el-form-item label="URL">
                    <el-input v-model="leftDbForm.url" placeholder="URL"></el-input>
                </el-form-item>
                <el-form-item label="账号">
                    <el-input v-model="leftDbForm.userName" placeholder="账号"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="leftDbForm.passWord" placeholder="密码"></el-input>
                </el-form-item>
                <el-form-item label="数据库">
                    <el-input v-model="leftDbForm.dbName" placeholder="数据库"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadLeftDb">加载</el-button>
                </el-form-item>
            </el-form>
            <el-descriptions title="数据库信息" :column="3" border>
                <el-descriptions-item label="数据库url">{{leftDb.url}}</el-descriptions-item>
                <el-descriptions-item label="账户名">{{leftDb.userName}}</el-descriptions-item>
                <el-descriptions-item label="是否只读">{{leftDb.readOnly}}</el-descriptions-item>
            </el-descriptions>
        </div>
    </div>
    <div>
        <div>
            <!--左表树-->
            <el-tree :data="leftTableTree" highlight-current ref="tree"
                     node-key="id"
                     :props="defaultProps" @node-click="leftTableHandler"></el-tree>

        </div>
        <div>
            <!--右表树-->
            <el-tree
                    :data="data"
                    show-checkbox
                    node-key="id"
                    :default-expanded-keys="[2, 3]"
                    :default-checked-keys="[5]"
                    :props="defaultProps">
            </el-tree>
        </div>
    </div>
    <div>
        <div>
            <!--左表结果集-->
            <el-table
                    :data="leftColumns"
                    style="width: 100%">
                <el-table-column
                        prop="columnName"
                        label="字段名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="typeName"
                        label="类型"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="columnSize"
                        label="字段长度">
                </el-table-column>
                <el-table-column
                        prop="remarks"
                        label="备注">
                </el-table-column>
            </el-table>
        </div>
        <div>
            <!--右表结果集-->
            <el-table
                    :data="rightColumns"
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="日期"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="地址">
                </el-table-column>
            </el-table>
        </div>
    </div>
    <div>
        <div>
            <!--最终结果集-->
        </div>
    </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                leftTableTree: [],
                defaultProps: {
                    children: 'columns',
                    label: 'label',
                    disabled: 'columns'
                },
                leftDbForm: {
                    url: "jdbc:mysql://localhost:3306/test2023?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true&nullCatalogMeansCurrent=true",
                    dbName: "test2023",
                    userName: "root",
                    passWord: "root",
                },
                leftDb: {
                    userName: "",
                    url: "",
                    readOnly: "",
                    dbName: ""
                },
                leftColumns: [],
                rightColumns:[],
                leftTableName: ""
            }
        },
        mounted: function () {

        },
        methods: {
            //左库树点击事件
            leftTableHandler(data) {
                console.log(data);
                if (this.leftTableName === data.tableName) return;
                this.leftTableName = data.tableName;
                if (data.columns!=null) {
                    //点击表节点
                    this.leftColumns = data.columns
                } else {
                    //点击字段
                    axios({
                        url: "/dbquery/columns",
                        params: {
                            url: this.leftDbForm.url,
                            tableName: data.tableName,
                            dbName: this.leftDbForm.dbName
                        }
                    }).then((res) => {
                        var data = res.data;
                        if (data.status) {
                            this.leftColumns = data.data;
                        } else {
                            this.$message.error(data.message);
                        }
                    })
                }
            },
            //刷新左表树
            loadLeftTree() {
                axios({
                    url: "/dbquery/tables",
                    method: "GET",
                    params: {
                        url: this.leftDbForm.url,
                        dbName: this.leftDbForm.dbName
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.leftTableTree = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            //加载左库
            loadLeftDb() {
                axios({
                    url: "/config/loadConnection",
                    method: "GET",
                    params: this.leftDbForm
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.leftDb = data.data;
                        //属性左表树
                        this.loadLeftTree();
                    } else {
                        this.$message.error(data.message);
                    }
                })
            }
        }
    })
</script>
<style>

</style>
