<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Db-shop</title>
    <script th:src="@{js/vue.js}" type="application/javascript"></script>
    <!--    <script th:src="@{js/leftTable.js}" type="application/javascript"></script>-->
    <!--    <script th:src="@{js/rightTable.js}" type="application/javascript"></script>-->

    <script src="https://code.hcharts.cn/plugins/zh_cn.js" type="application/javascript"></script>
    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" th:href="@{/element/theme/index.css}"/>-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <!--    <script th:src="@{/element/index.js}" type="application/javascript"></script>-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script th:src="@{js/axios.js}"></script>

</head>
<body>
<div id="app" style="width: 80%;margin-left: 200px;height: 100%;">
    <div>
        <!--抬头布局-->
        <div>
            <!--左表-->
            <el-form :inline="true" :model="leftDbForm" class="demo-form-inline">
                <el-form-item label="URL">
                    <el-input v-model="leftDbForm.url" placeholder="URL"></el-input>
                </el-form-item>
                <el-form-item label="账号">
                    <el-input v-model="leftDbForm.userName" placeholder="账号"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="leftDbForm.passWord" placeholder="密码"></el-input>
                </el-form-item>
                <el-form-item label="数据库">
                    <el-input v-model="leftDbForm.dbName" placeholder="数据库"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadLeftDb">加载</el-button>
                </el-form-item>
            </el-form>
            <el-descriptions title="数据库信息" :column="3" border>
                <el-descriptions-item label="数据库url">{{leftDb.url}}</el-descriptions-item>
                <el-descriptions-item label="账户名">{{leftDb.userName}}</el-descriptions-item>
                <el-descriptions-item label="是否只读">{{leftDb.readOnly}}</el-descriptions-item>
            </el-descriptions>
        </div>
        <div>
            <!--右表-->
            <el-form :inline="true" :model="rightDbForm" class="demo-form-inline">
                <el-form-item label="URL">
                    <el-input v-model="rightDbForm.url" placeholder="URL"></el-input>
                </el-form-item>
                <el-form-item label="账号">
                    <el-input v-model="rightDbForm.userName" placeholder="账号"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="rightDbForm.passWord" placeholder="密码"></el-input>
                </el-form-item>
                <el-form-item label="数据库">
                    <el-input v-model="rightDbForm.dbName" placeholder="数据库"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadRightDb">加载</el-button>
                </el-form-item>
            </el-form>
            <el-descriptions title="数据库信息" :column="3" border>
                <el-descriptions-item label="数据库url">{{rightDb.url}}</el-descriptions-item>
                <el-descriptions-item label="账户名">{{rightDb.userName}}</el-descriptions-item>
                <el-descriptions-item label="是否只读">{{rightDb.readOnly}}</el-descriptions-item>
            </el-descriptions>
        </div>
    </div>
    <div>
        <div>
            <!--左表树-->
            <el-tree :data="leftTableTree" highlight-current ref="tree"
                     node-key="id"
                     :props="defaultProps" @node-click="leftTableHandler"></el-tree>

        </div>
        <div>
            <!--右表树-->
            <!--左表树-->
            <el-tree :data="rightTableTree" highlight-current ref="tree"
                     node-key="id"
                     :props="defaultProps" @node-click="rightTableHandler"></el-tree>
        </div>
    </div>
    <div>
        <div>
            <!--左表结果集-->
            <el-table
                    :data="leftColumns"
                    style="width: 100%">
                <el-table-column
                        label="字段名"
                        width="180">
                    <template slot-scope="scope">
                        <div v-if="scope.row.addColumn==true">
                            <span style="color: red">{{scope.row.columnName}}</span>
                        </div>
                        <div v-else-if="scope.row.updateColumn==true">
                            <span style="color: deepskyblue">{{scope.row.columnName}}</span>
                        </div>
                        <div v-else>
                            <span>{{ scope.row.columnName}}</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="typeName"
                        label="类型"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="columnSize"
                        label="字段长度">
                </el-table-column>
                <el-table-column
                        prop="remarks"
                        label="备注">
                </el-table-column>
            </el-table>
        </div>
        <div>
            <!--右表结果集-->
            <el-table
                    :data="rightColumns"
                    style="width: 100%">
                <el-table-column
                        label="字段名"
                        width="180">
                    <template slot-scope="scope">
                        <div v-if="scope.row.addColumn==true">
                            <span style="color: red">{{scope.row.columnName}}</span>
                        </div>
                        <div v-else-if="scope.row.updateColumn==true">
                            <span style="color: deepskyblue">{{scope.row.columnName}}</span>
                        </div>
                        <div v-else>
                            <span>{{ scope.row.columnName}}</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="typeName"
                        label="类型"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="columnSize"
                        label="字段长度">
                </el-table-column>
                <el-table-column
                        prop="remarks"
                        label="备注">
                </el-table-column>
            </el-table>
        </div>
    </div>
    <div>
        <!--对比工具栏-->
        <el-form :model="contrastParams" label-width="100px" class="demo-ruleForm">
            <el-form-item label="对比类型" prop="type">
<!--                <el-checkbox label="是否进行深度比对" v-model="contrastParams.goDeep"></el-checkbox>-->
                <el-checkbox label="是否进行备注级比对" v-model="contrastParams.goRemark"></el-checkbox>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="startTableContrast">对比</el-button>
            </el-form-item>
        </el-form>
        <!--SQL生成工具栏-->
        <el-form :model="productSqlParams" label-width="100px" class="demo-ruleForm">
            <el-form-item label="选择主表：">
                <el-radio-group v-model="productSqlParams.leftOrRight">
                    <el-radio label="0">左表</el-radio>
                    <el-radio label="1">右表</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="解析类型" prop="type">
                <el-checkbox label="是否进行备注级解析" v-model="productSqlParams.goRemark"></el-checkbox>
                <el-checkbox label="是否删除表解析" v-model="productSqlParams.deleteTable"></el-checkbox>
            </el-form-item>
            <el-form-item label="类型转化">
                <el-checkbox-group v-model="productSqlParams.transformReg">
                    <el-checkbox label="0" name="type">datetime(?)类型变为datetime(0)</el-checkbox>
                    <el-checkbox label="1" name="type">bit(1)类型变为tinyint(1)</el-checkbox>
                    <el-checkbox label="2" name="type">json(?)类型变为json(0)</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="startProductSql">生成</el-button>
            </el-form-item>
        </el-form>
    </div>
    <div>
        <div>
            <!--最终结果集-->
            <span>{{sqls}}</span>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                leftTableTree: [],
                rightTableTree: [],
                defaultProps: {
                    children: 'columns',
                    label: 'label',
                    disabled: 'columns'
                },
                leftDbForm: {
                    url: "jdbc:mysql://localhost:3306/test2023?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true&nullCatalogMeansCurrent=true",
                    dbName: "test2023",
                    userName: "root",
                    passWord: "root",
                },
                rightDbForm: {
                    url: "jdbc:mysql://localhost:3306/test2023-1?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true&nullCatalogMeansCurrent=true",
                    dbName: "test2023-1",
                    userName: "root",
                    passWord: "root",
                },
                leftDb: {
                    userName: "",
                    url: "",
                    readOnly: "",
                    dbName: ""
                },
                rightDb: {
                    userName: "",
                    url: "",
                    readOnly: "",
                    dbName: ""
                },
                leftColumns: [],
                rightColumns: [],
                contrastParams: {
                    goDeep: "",
                    goRemark: "",
                    leftUrl: "",
                    rightUrl: "",
                    leftDbName: "",
                    rightDbName: "",
                    leftTableName: "",
                    rightTableName: ""
                },
                //对比结果集
                contrastResult: {
                    columns: []
                },
                productSqlParams: {
                    leftOrRight: "0",
                    goRemark: "",
                    deleteTable: "",
                    transformReg: []
                },
                sqls:[]
            }
        },
        mounted: function () {

        },
        methods: {
            //左库树点击事件
            leftTableHandler(data) {
                console.log(data);
                if (this.contrastParams.leftTableName === data.tableName) return;
                this.contrastParams.leftTableName = data.tableName;
                this.contrastParams.leftDbName = this.leftDb.dbName;
                this.contrastParams.leftUrl = this.leftDb.url;
                if (data.columns != null) {
                    //点击表节点
                    this.leftColumns = data.columns
                } else {
                    //点击字段
                    axios({
                        url: "/dbquery/columns",
                        params: {
                            url: this.leftDbForm.url,
                            tableName: data.tableName,
                            dbName: this.leftDbForm.dbName
                        }
                    }).then((res) => {
                        var data = res.data;
                        if (data.status) {
                            this.leftColumns = data.data;
                        } else {
                            this.$message.error(data.message);
                        }
                    })
                }
            },
            //刷新左表树
            loadLeftTree() {
                axios({
                    url: "/dbquery/tables",
                    method: "GET",
                    params: {
                        url: this.leftDbForm.url,
                        dbName: this.leftDbForm.dbName
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.leftTableTree = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            //加载左库
            loadLeftDb() {
                axios({
                    url: "/config/loadConnection",
                    method: "GET",
                    params: this.leftDbForm
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.leftDb = data.data;
                        //属性左表树
                        this.loadLeftTree();
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            //右库树点击事件
            rightTableHandler(data) {
                console.log(data);
                if (this.contrastParams.rightTableName === data.tableName) return;
                this.contrastParams.rightTableName = data.tableName;
                this.contrastParams.rightDbName = this.rightDb.dbName;
                this.contrastParams.rightUrl = this.rightDb.url;
                if (data.columns != null) {
                    //点击表节点
                    this.rightColumns = data.columns
                } else {
                    //点击字段
                    axios({
                        url: "/dbquery/columns",
                        params: {
                            url: this.rightDbForm.url,
                            tableName: data.tableName,
                            dbName: this.rightDbForm.dbName
                        }
                    }).then((res) => {
                        var data = res.data;
                        if (data.status) {
                            this.rightColumns = data.data;
                        } else {
                            this.$message.error(data.message);
                        }
                    })
                }
            },
            //刷新左表树
            loadRightTree() {
                axios({
                    url: "/dbquery/tables",
                    method: "GET",
                    params: {
                        url: this.rightDbForm.url,
                        dbName: this.rightDbForm.dbName
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.rightTableTree = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            //加载左库
            loadRightDb() {
                axios({
                    url: "/config/loadConnection",
                    method: "GET",
                    params: this.rightDbForm
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.rightDb = data.data;
                        //属性左表树
                        this.loadRightTree();
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            //开始对比
            startTableContrast() {
                axios({
                    url: "/contrast/leftRightTableDo",
                    method: "GET",
                    params: this.contrastParams
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        let leftColumns = data.data.leftContrast;
                        let rightColumns = data.data.rightContrast;
                        this.leftColumns = leftColumns;
                        this.rightColumns = rightColumns;
                        this.contrastResult.columns = data.data.contrastColumnResults;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            startProductSql() {
                axios({
                    url: "/sql/production/column",
                    method: "POST",
                    data: { 
                        contrastQuery: this.contrastParams,
                        columns: this.contrastResult.columns,
                        leftOrRight: this.productSqlParams.leftOrRight,
                        goRemark: this.productSqlParams.goRemark,
                        deleteTable: this.productSqlParams.deleteTable,
                        transformReg: this.productSqlParams.transformReg
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.sqls = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            }
        }
    })
</script>
<style>

</style>

